<div class="question-container">
  <h3><%= @question.title %></h3>
  <div class="timestamp">Posted by <%= link_to @question.user.username, @question.user %> at <%= std_format_date(@question.created_at) %></div>
  <div class="vote-form-container">
    <%= render '/votes/form', votable: @question %>
  </div>
  <span class="vote-place"></span>
  <p><%= @question.content %></p>
  <div class="answer-form-container">
    <%= form_for @answer, url: question_answers_path(params[:id]) do |f| %>
      <%= f.label 'Answer question:' %>
      <%= f.text_area(:content, size: "100x10") %>
      <%= f.submit "Post Answer" %>
    <% end %>
  </div>
  <%= render @question.comments %>
  <%= render '/comments/form', commentable: @question %>

  <%= render @question.best_answer if @question.best_answer %>
  <% @question.answers.each do |answer| %>
    <%= render answer unless answer.best? %>
  <% end %>
</div>
