<div class="answer" id="<%= "best_answer" if answer.best? %>">
  <% if answer.question.user == current_user %>
    <a href="/answers/<%= answer.id %>/question" data-method="put" rel="nofollow">This is the best!</a>
  <% end %>
  <h4>Posted by: <%= link_to answer.user.username, answer.user %></h4>
  <p><%= answer.content %></p>
  <%= render answer.comments %>

  <%= render 'comments/form', commentable: answer %>
</div>
