<!DOCTYPE html>
<html>
<head>
  <title>TineaExMachina</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header container">
    <nav>
      <h1 id="logo"><a class="no-border" href="/questions">Tinea Ex Machina</a></h1>
      <ul>
        <% if current_user %>
          <li><a href="/users/<%=current_user.id%>"><%= current_user.username %></a></li>
          <li><a href="/logout">logout</a></li>
          <li><a href="/questions/new">Ask a Question</a></li>
        <% else %>
          <li><a href="/sessions">login or register</a></li>
        <% end %>
          <li><a href="/questions">Questions</a></li>
      </ul>
    </nav>
  </header>
  <main class='container'>
    <%= yield %>
  </main>
</body>
</html>
